// Override default variables before the import
$primary: #6f9283;
$secondary: #f0dcca;
$tertiary: #696d7d;
$warning: #f4a424;
 
#root{ 
    background:  $secondary;  
    min-height: 100vh;
}

input{
    outline-color: white;
}


// Import Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";
