// Override default variables before the import
$primary: #6f9283;
$secondary: #f0dcca;
$tertiary: #696d7d;
$warning: #f4a424;

#root{ 
    background:  $secondary;  
}

input{
    outline-color: white;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';